# Dependencies
node_modules/

# Sensible Daten - NIEMALS committen!
Data/state.json

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Commands
update-lokales-netzwerk.command
